<br/>
<form action="/advising-start" method="post">
    <div class="form-group">
        <input type="text" id="scan" name="scan" autofocus> scan card or enter person number to start session
        <br/><br/>
        <input type="submit" value="submit">
    </div>
</form>

