.dropbtn
{
  float:left;
  background-color: #E6E6FA;
  color: black;
  padding: 12px;
  font-size: 12px;
  border:double;
  cursor: pointer;
  width: 105px;
  height: 40px;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display:block;
    background-color:light grey;
}

h1 {
  font-family: Impact,,sans-serif;
  font-size:200%;
  color:white;
  margin-left: 10px;
  margin-top:0px;
  margin-bottom: 35px;
  text-shadow:0 0px 0 #ccc,0 1px 0 #c9c9c9,
  0 2px 0 #bbb,
  0 3px 0 #b9b9b9,
  0 4px 0 #aaa,
  0 5px 0px rgba(0,0,0,.1),
  0 0 4px rgba(0,0,0,.1),
  0 0px 2px rgba(0,0,0,.3),
  0 2px 4px rgba(0,0,0,.2),
  0 4px 9px rgba(0,0,0,.25),
  0 9px 9px rgba(0,0,0,.2),
  0 19px 19px rgba(0,0,0,.15);
}

.form * {
  vertical-align: top;
}

/* Popup box */
.tooltip {                  
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: #00008B;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 103%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* TA dropdown on choosing Private checkbox */
#taChoice {
    display:none;
}

/* For the student and TA login form */
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #00008B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ADD8E6;
}

.logContain {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.contain {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.log-in {
    background-color: #fefefe;
    margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: relative;
    left: 160px;
    top: 40;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
}

/* The table for TA Page */
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table#tabl{
	  width: 100%;    
    background-color: white;
}
table#tabl th {
    background-color: #4169E1;    
    color: white;
}
table#tabl tr:nth-child(odd) {
    background-color: #F0F8FF;
}

/* Log out links */
a.lnk:link{
	color: white;
	position: relative;
	float: right;
	top: 30px;
	right: 10px;
}
a.lnk1:link{
	color: white;
	position: relative;
	float: right;
	bottom: 70px;
	left: 90px;
}


